Source: ros-melodic-bacchus-move-base
Section: misc
Priority: optional
Maintainer: Sergi Molina mellado <smolinamellado@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), curl, libcurl4-openssl-dev, ros-melodic-catkin, ros-melodic-dwa-local-planner, ros-melodic-move-base, ros-melodic-robot-pose-publisher, ros-melodic-teb-local-planner, ros-melodic-tf, unzip
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-bacchus-move-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-dwa-local-planner, ros-melodic-move-base, ros-melodic-robot-pose-publisher, ros-melodic-teb-local-planner, ros-melodic-tf
Description: The bacchus_move_base package
